<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  th:fragment="footer">

<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>博客简介</h3>
            <p class="am-text-sm">此博客是用于记录生活,巩固技术的<br> 可能会包含生活中的一些感悟 <br> 会把一些灵感和新奇的技术整合进去<br>可能还有拍摄的照片...<br><br>
            </p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>ps</h3>
            <p>我追求幸福的生活,会利用自己有限的时间和精力,来提升自己,记录自己生活的精彩时刻.</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h1>感谢以下人对我的支持</h1>
            <h3>特别鸣谢</h3>
            <p>
            <ul>
                <li>王春燕</li>
                <li>王春燕</li>
                <li>王春燕</li>
                <li>王春燕</li>
                <li>...</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="blog-text-center">© 2018 www.pbwcy.top &nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin" target="_blank">后台管理</a></div>
</footer>

</body>
</html>